<!DOCTYPE html>

{% load static %}

{% verbatim %}

<html ng-cloak
      ng-app="account"
      xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="en"
      lang="en">

  <head>

    <link rel="stylesheet"
          href="/static/lib/angular/angular-csp.css"/>

    <link rel="stylesheet"
          href="/static/css/account.css"/>

    <link rel="stylesheet"
          href="/static/lib/bootstrap/dist/css/bootstrap.min.css"/>

    <link href="/static/css/jumbotron.css"
          rel="stylesheet">


    <title>ChatRt</title>

    <meta charset="utf-8">

    <meta http-equiv="Content-Type"
          content="text/html; charset=utf-8"/>

    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <meta name="description"
          content="">

    <meta name="author"
          content="">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  {% endverbatim %}

  <div class="navbar navbar-inverse navbar-fixed-top"
       ng-controller="authController"
       ng-init="authState.user='{{user.username}}'"
       role="navigation">

      {% verbatim %}

      <div class="container">

          <ul class="nav navbar-nav">

              <li class="active">
                  <a href="#">Home</a>
              </li>

              <li>
                  <a href="#about">About</a>
              </li>

              <li>
                  <a href="#contact">Contact</a>
              </li>

              <li class="dropdown">

                  <a href="#"
                     class="dropdown-toggle"
                     data-toggle="dropdown">Dropdown
                      <b class="caret">

                      </b>
                  </a>

                  <ul class="dropdown-menu">

                      <li>
                          <a href="#">Action</a>
                      </li>

                      <li>
                          <a href="#">Another action</a>
                      </li>

                      <li>
                          <a href="#">Something else here</a>
                      </li>

                      <li class="divider">

                      </li>

                      <li class="dropdown-header">
                          Nav header
                      </li>

                      <li>
                          <a href="#">Separated link</a>
                      </li>

                      <li>
                          <a href="#">One more separated link</a>
                      </li>
                  </ul>
            </li>

          </ul>

          <div ng-show="authState.user"
                 class="navbar-form navbar-right">

          <input type="submit"
                 class="btn btn-success btn-md"
                 ng-click="logout()"
                 value="logout {{authState.user}}"/>

          </div>

          <div ng-hide="authState.user">

              <form id="id_auth_form"
                    class="navbar-form navbar-right"
                    ng-submit="login()">

                  <div class="form-group">

                      <input ng-model="username"
                             required name="username"
                             type="text"
                             placeholder="username"
                             class="form-control">

                  </div>

                  <div class="form-group">

                      <input ng-model="password"
                             required name="password"
                             type="password"
                             placeholder="password"
                             class="form-control">

                  </div>

                      <input type="submit"
                             class="btn btn-success btn-md"
                             value="login">

                      <input type="submit"
                             class="btn btn-success btn-md"
                             value="register"
                             ng-click="register($event)">

              </form>
          </div><!--/.navbar-collapse -->
      </div>
  </div>

  {% endverbatim %}

  {% block content %}

  {% endblock %}


  {% verbatim %}


  <hr>

  <footer>

    <p>&copy; Company 2014</p>
  </footer>

  </body>
  <script src="/static/lib/jquery/dist/jquery.js"></script>
  <script src="/static/lib/underscore/underscore.js"></script>
  <script src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/static/lib/angular/angular.min.js"></script>
  <script src="/static/lib/angular-resource/angular-resource.min.js"></script>
  <script src="/static/lib/autofill-event/src/autofill-event.js"></script>
  <script src="/static/js/account.js"></script>
</html>
{% endverbatim %}